@{
    ViewData["Title"] = "Enter a Movie";
}

<h1>Enter a new movie into the collection</h1>

<form method="post">
    <label asp-for="Title">Title:</label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Category">Category:</label>
    <input asp-for="Category" />
    <br />
    <label asp-for="Year">Year:</label>
    <input type="number" asp-for="Year" />
    <br />
    <label asp-for="Director">Director:</label>
    <input asp-for="Director" />
    <br />
    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="TV-Y">TV-Y</option>
        <option value="TV-Y7">TV-Y7</option>
        <option value="TV-G">TV-G</option>
        <option value="TV-PG">TV-PG</option>
        <option value="TV-14">TV-14</option>
        <option value="TV-MA">TV-MA</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" />
    <br />
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" />
    <br />

    <button type="submit">Add Movie</button>
</form>