@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Get To Know Joel</h1>

<h2>Some of the things he likes:</h2>

<ul>
    <li>
        <a href=" https://www.qwcomedy.com/">Quick Wits Comedy</a>
    </li>
    <li>
        <a href="https://baconsale.com/">
            <img src="c:\users\byufa\source\repos\mission6\mission6\wwwroot\img\baconsalekate.jpg" />
        </a>
        <a href="https://baconsale.com/">BaconSale</a>
    </li>
</ul>
