@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Get To Know Joel</h1>

<p>Some of the things he does:</p>
    
<div class="row mb-5">
    <div class="col-md-4" style="text-align:center;">
        <div class="card h-100">
            <div class="card-img-top">
                <img style="height:200px;" src="~/img/quickwits.jpg" />
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <h5 class="card-title mb-0"><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></h5>
                </div>
                <p class="card-text text-muted"></p>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="text-align:center;">
        <div class="card h-100">
            <div class="card-img-top">
                <a href="https://baconsale.com/">
                    <img style="height:200px;" src="~/img/baconsalekate.jpg" />
                </a>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <h5 class="card-title mb-0"><a href="https://baconsale.com/">Baconsale Podcast</a></h5>
                </div>
                <p class="card-text text-muted"></p>
            </div>
        </div>
    </div>
</div>